{#<form>#}
{#        <div class="form-group">#}
{#            <div class="row">#}
{#                {% for col in cols %}#}
{#                    <div class="col">#}
{#                        <select multiple="multiple" class="custom-select" style="text-overflow:ellipsis;">#}
{#                            {% for val in uniques[col] %}#}
{#                                <option> {{ val }} </option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#</form>#}
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <tr>
                {% for col in cols %}
                    <th> {{ col }} <br>
                        <select name={{ col }} multiple="multiple" class="table-selector custom-select" style="text-overflow:ellipsis;">
                            {% for val in uniques[col] %}
                                <option> {{ val }} </option>
                            {% endfor %}
                        </select></th>
                {% endfor %}
            </tr>
            <tbody id="table-data">
                {% for entry in entries %}
                    <tr class="fancy-table-row">
                        {% for value in entry %}
                            <td> {{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.table-selector').select2({placeholder: "Add filter"});
    });
</script>